/*General CSS*/ 
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

h1{
	font-size: 2.2rem;
	letter-spacing: 0.1rem;
	margin:0.8rem 0;
	font-family: didot;
}

button{
	background-color:transparent;
	border: none;
}

h4{
	font-family: "Didot";
	font-style: normal;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	margin:0.5rem 0;
}

h5{
	font-family: "BrandonGrotesque-Light";
	/*text-align: right;*/
	font-size: 1rem;
	line-height: 1rem;
}

h6{
	opacity: 50%;
	font-family: "BrandonGrotesque-Light";
/*  float: right;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;*/
  text-decoration: line-through;
  padding-right:1em;
}

p{
	font-family: "BrandonGrotesque-Light";
	font-size: 0.8rem;
	margin: auto 2rem;
}

li,ul{
	font-family: "BrandonGrotesque-Light";
	font-size: 0.75rem;
	line-height: 1.2rem;
}

a.button-white-border{
	color:white;
	text-decoration:none;
	background-color:transparent;
	font-family:"BrandonGrotesque-Light";
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding: 0.1rem 1.5rem;
}

a.button-white-border:hover{
	color:black;
	background-color:white;
}

a.button-black-border{
	color:black;
	text-decoration:none;
	background-color:transparent;
	font-family:"BrandonGrotesque-Light";
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 0.1rem 1.5rem;

	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

a.button-black-border:hover{
	color:white;
	background-color:black;
}

label{
	font-family: "BrandonGrotesque-Light", sans-serif;
}

select{
	font-family: "BrandonGrotesque-Regular", sans-serif;
	background-color: white;
}

.in-text{
	color: #bfa87b;
	text-decoration: none;
	width: 100%;
	font-family: "BrandonGrotesque-Light";
	letter-spacing: 0.5px;
	font-size:0.9rem;
}

.in-text:hover{
	color:#bfa077;
	text-decoration: underline;
}

.container{
	display:block;
	justify-content:center;
	margin:9rem 1rem;
	margin-top:9rem;
}

.container h1{
	margin: auto 1rem;
}

.container p{
	opacity: 70%;
	margin: 1rem 1rem;
}
/*Header*/ 

/*Event Bar*/
.event-bar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	background-color: #000;

	position: fixed;
	top:0;
	z-index: 1;

	font-family:"BrandonGrotesque-Light", sans-serif;
	font-size:0.7rem;

	color: #FFF;
	padding: 0.3rem 0rem;
}

.event-link a{
	color: white;
	margin-left: 1rem;
}

.event-link a:hover{
	color: #bfa077;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

/*Navigation Bar*/
.nav-main{
	display: flex;
	width: 100%;
	background-color: transparent;

	/*Stick to the top while user scroll, Reference: https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
	position: fixed; 
	top: 1.3rem;
	/*Stacking Order, Reference: https://www.w3schools.com/cssref/pr_pos_z-index.asp;*/
	z-index: 1;
}

/*Navigation Bar: Logo*/
.nav-logo{
	width: 130px;
	margin: 1rem 3rem;
}

/*Navigation Bar: Links*/
.nav-main nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	margin-right: 3rem;
}

.nav-main nav a{
	display: inline;

	font-family: "BrandonGrotesque-Light", sans-serif;
	font-size: 0.8rem;

	color: white;
	text-decoration: none;
	margin:0rem 4.5rem;
	padding:1rem 0rem;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.nav-main nav a:hover{
	color: #bfa077;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

#menu-cart-img, #menu-cart-img-mobile{
	/*content: url('../sources/cart-white.png');*/
	width: 1rem;
}

.nav-main nav a.nav-cart{
	transition:all 0s;
	-webkit-transition: all 0s;
}

/*Navigation Bar: Dropdown Menu (Desktop)*/
.nav-dropdown{
	position: relative;
	display: inline-block;
	margin: 1rem 4.5rem;
}

.nav-main a.nav-dropdown-main{
	position: relative;
	display: inline-block;
	margin: 0;
}

/* Dropdown Content (Hidden by Default) */
.nav-dropdown-shop{
	visibility: hidden;
	height:0;
	opacity: 0;

	position: absolute;
	background-color: #FFF;
	min-width: 10rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	color:black;
}

/* Links inside the dropdown */
.nav-main nav div.nav-dropdown-shop a{
	color: black;
	font-size: 0.8rem;
	margin:1rem;
	padding:0;
	text-decoration: none;
	display: block;
	text-align: center;
}

.nav-main nav div.nav-dropdown-shop a:hover{
	color: #bfa077;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

/*Show the dropdown menu on hover*/
.nav-dropdown:hover .nav-dropdown-shop{
	visibility: visible;
	height: auto;
	opacity:1;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/*Navigation Bar: Normal White Background*/
.nav-main-normal{
	display: flex;
	width: 100%;
	background-color: white;

	/*Stick to the top while user scroll, Reference: https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
	position: fixed; 
	top: 1.3rem;
	/*Stacking Order, Reference: https://www.w3schools.com/cssref/pr_pos_z-index.asp;*/
	z-index: 1;
}

/*Navigation Bar: Links*/
.nav-main-normal nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	margin-right: 3rem;
}

.nav-main-normal nav a{
	display: inline;

	font-family: "BrandonGrotesque-Light", sans-serif;
	font-size: 0.8rem;

	color: black;
	text-decoration: none;
	margin:0rem 4.5rem;
	padding:1rem 0rem;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.nav-main-normal nav a:hover{
	color: #bfa077;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.nav-main-normal a.nav-dropdown-main{
	position: relative;
	display: inline-block;
	margin: 0;
}

/* Links inside the dropdown */
.nav-main-normal nav div.nav-dropdown-shop a{
	color: black;
	font-size: 0.8rem;
	margin:1rem;
	padding:0;
	text-decoration: none;
	display: block;
	text-align: center;
}

.nav-main-normal nav div.nav-dropdown-shop a:hover{
	color: #bfa077;

	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

/**/

/*Navigation Bar: Mobile*/
.nav-mobile{
	display:none;
}

.nav-mobile-expand{
	display:none;
}

.nav-mobile-normal{
	display:none;
}

/*Home Page: Hero Banner*/
.hero-banner{
	display: flex;
	position: relative;
	justify-content:space-around;
	flex-wrap: wrap;
}
#home-video{
	min-width:100%;
	min-height:100%;
	position: absolute;
	right:0;
	bottom:0;
	z-index:-1;
}

.hero-banner-content{
	position:relative;
	margin:15rem 2rem;
	color: white;
	z-index:0;
}

/*Home Page: Categories*/
#category{
	display: inline-block;
	float:left;
	width:100%;
	box-sizing: border-box;
	position:relative;
	background-color:#000;

	z-index:1;
}

#category div{
	width:33.333%;
	float: left;
}

#category img{
	width:100%;
	position: relative;
}

#category a{
	text-decoration:none;
}

#category a:hover{
	opacity:70%;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

footer {
	color: #bfa077;
	margin-top: 5%;
	text-align: center;
	float: left;
	width: 100%;
}

footer h5, footer a{
	font-family: "BrandonGrotesque-Light", sans-serif;
	text-decoration: none;
	font-weight: normal;
}

.in-text-style-footer  {
	font-size: 0.6rem;
	color: #bfa87b;
	text-decoration: none;
	padding: 6%;
}


.in-text-style-footer:hover {
	color:#bfa077;
	text-decoration: underline;
	transition: 0.2s;
}

/****PLP: Tents****/
.plp-container{
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	flex-direction: row;

	justify-content: flex-start;
}

.plp-product{
	flex-basis:25%;
	padding:1rem;
}

.plp-product a{
	text-decoration: none;
}

.plp-name{
	display:flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.plp-product h4{
	font-size:0.75rem;
	font-family:"Didot";
	flex-basis:75%;
	/*margin:0.5rem 0;*/
}

.plp-container img{
	width:100%;
	opacity: 1;
	position: relative;
}

.plp-container img:hover {
	opacity: 0.8;
}

.tag-sales{
	position: relative;
	display: block;

	background-color: #bfa87b;
	color: #ffffff;

	padding: 0.3rem;
	letter-spacing:0.3em;
	flex-basis:25%;
	margin: 0.3rem 0;
}

h5.tag-sales{
	text-align: center;
	font-size:0.5rem;
}

.plp-price{
	display: flex;
	flex-direction: row;
	flex-basis:25%;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.plp-price h5, .plp-price h6{
	margin:0;
}

.plp-product a.in-text{
	display: flex;
	justify-content: flex-end;
}

.tag-no-stock{
	position: relative;
	display: block;

	background-color: #5c5c5c;
	color: #ffffff;

	padding: 0.3rem;
	letter-spacing:0.3em;
	flex-basis:25%;
	margin: 0.3rem 0;
}

h5.tag-no-stock{
	text-align: center;
	font-size:0.5rem;
}

/***Event Page***/

/***My Cart***/
.cart-container{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	margin:1rem 1rem;
}

/*Product Details*/
.cart-listing{
	flex-basis:70%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}

.cart-listing-row{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	margin:0.5rem 0;
}

/*Setting the proportion of each information like a table*/
.cart-product{
	flex-basis:40%;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.cart-details{
	flex-basis: 20%;
	display: flex;
	flex-direction:row;
	align-items: center;
	flex-wrap:wrap;
}

.cart-details h5, .cart-details h6{
	margin: 0.2rem 0rem;
	margin-right: 0.2rem;
}

.cart-details h5{
	margin-right:1rem;
}

/*Proportioning the product image and name in Product*/
.cart-product img{
	flex-basis:20%;
	width: 30%;
}

.cart-product h5{
	flex-basis:80%;
	margin: 0 2rem;
}

/*Checking Out Summary*/
.cart-checkout-sum{
	flex-basis:30%;
	display: flex;
	flex-direction: column;

	margin: 0.5rem 0rem;
	padding: 0 0.3rem;
}

.cart-checkout-row{
	flex-basis:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0rem 1rem;
}

/*Decorating the elements in Order Summary*/
.cart-checkout-row p{
	margin:0.5rem 0;
	margin-bottom: 1rem;
}

.cart-order-summary{
	background-color: #faf7f0;
}

.cart-order-summary .cart-checkout-row h3{
	font-family: "BrandonGrotesque-Light", sans-serif;
}

/*Decorating the elements in Order Total*/
.cart-order-total{
	background-color: #bfa87b;
}

.cart-order-total h3{
	color: white;
}

/*Decorating the Order Button*/
.cart-order-button a{
	flex-basis:100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin: 1rem 0;
}

/***Reviewing Your Order with Addresses***/
.cart-listing-place{
	flex-basis:70%;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	background-color: #f5f5f5;
	padding: 1rem 0.5rem;
}

.cart-listing-row form{
	display: flex;
	flex-wrap: wrap;
}

/*Address Form*/

.cart-listing-row form div{
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
}

.cart-listing-row form{
	margin: 1rem 1rem;
}

.cart-listing-row label, .cart-listing-row input{
	margin:0.2rem 0.7rem;
}

h4.cart-title{
	flex-basis: 100%;
}

/*Product Details Page*/
#back {
	margin:1rem;
}

.pdp-information{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;

	margin: 1rem;
}

.pdp-image{
	flex-basis: 30%;
	/*display: flex;*/
	justify-content: center;
}

.pdp-image img{
	width: 100%;
}

.pdp-details {
	flex-basis: 70%;
	flex-wrap:wrap;
	padding: 0 5rem;
}

.pdp-details h5.tag-sales{
	display:block;
	width:20%;
}

.pdp-details h1{
	margin:1rem 0;
}

.pdp-details h6{
	text-decoration:none;
}

.pdp-details p{
	margin: 1rem 0;
}

.pdp-details a{
	margin: 1rem 0;
}

/*PDP:; Review Session*/
.pdp-review{
	margin: 2rem 1rem;
}

.pdp-review-list{
	display: flex;
	flex-direction: column;

}

.pdp-review-list-row{
	display: flex;
	flex-direction: row;

	border-top: 0.5px solid #d9d9d9;
	padding: 4rem;
}

.pdp-user{
	display: inline-flex;
	flex-basis: 0;
	flex-grow: 0.8;
	flex-direction: column;

	margin-left:2rem;
	margin-right:2rem;
}

.pdp-user img{
	width: 11%;
}

.pdp-comment{
	flex-basis: 0;
	flex-grow: 0.8;
}

.pdp-write-review{
/*	display: flex;
    justify-content: center;
    align-content: center;
    border-top: 0.5px solid #d9d9d9;
    padding-bottom: 2rem;

    flex-direction: column;
    margin: 0;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0.5em 0;
    border-top: 0.5px solid #d9d9d9;
    width: 100%;
}

.review-form{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 1rem;
	width: 23rem;
}

.review-form label {
	font-family: "BrandonGrotesque-Light";
	margin: 0.5rem 1rem 0.5rem 0;
	font-size: 1rem;
}

.review-form input{
	font-family: "BrandonGrotesque-Light";
	padding: 0.5rem 5rem;
	background-color: #fff;
	border: 0.1rem solid #bfa87b;
}




/*Mobile Devices Size*/

@media(max-width: 1024px){

	/*Navigation Bar: Desktop*/
	.nav-main{
		display:none;
	}

	/*Navigation Bar: Mobile*/
	.nav-mobile{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content:center;
		position:fixed;
		z-index:1;

		font-family:"BrandonGrotesque-Light", sans-serif;
		font-size: 0.8rem;
		top:1.5rem;
		/*padding:0 1rem;*/
		width:100%;
	}

	.nav-mobile-menu-close{
		display: none;
	}

	.nav-logo{
		width: 100px;
	}

	.nav-mobile a{
		align-self: center;
		margin: 0;
		display: inline-block;

		color: white;
		text-decoration: none;

	}

	.nav-mobile button{
		color:white;
	}

	/*Navigation Bar: Mobile Expand*/
	.nav-mobile-expand {
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		visibility: hidden;
		height: 0;
		opacity: 0;
		top:6.5rem;

		position:fixed;
		z-index:2;
		width:100%;

		display: flex;
		height: 0;
		flex-direction: column;
		align-items: center;

		font-family:"BrandonGrotesque-Light", sans-serif;
		font-size: 0.8rem;

		box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
	}

	.nav-mobile-expand a{
		display: inline;

		font-family: "BrandonGrotesque-Light", sans-serif;
		font-size: 0.8rem;

		color: #000;
		text-decoration: none;
		margin:0rem 4.5rem;
		padding:1rem 0rem;

		-webkit-transition: color 0.2s linear;
		transition: color 0.2s linear;
	}

	a.nav-dropdown-shop-link{
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		visibility: hidden;
		display: flex;
		height: 0;
		padding: 0;
		opacity: 0;

		width: 100%;
		justify-content: center;
		background-color:#f0f0f0;
	}

	/*Navigation Bar: Normal White*/
	.nav-main-normal{
		display:none;
	}

	/*Navigation Bar: Mobile*/
	.nav-mobile-normal{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content:center;
		position:fixed;
		z-index:1;

		font-family:"BrandonGrotesque-Light", sans-serif;
		font-size: 0.8rem;
		top:1.5rem;
		/*padding:0 1rem;*/
		width:100%;
		background-color:white;
	}

	.nav-mobile-normal a{
		align-self: center;
		margin: 0;
		display: inline-block;

		color: black;
		text-decoration: none;

	}

	/*My Cart*/

	.cart-listing{
		flex-basis:100%;
	}

	.cart-checkout-sum{
		flex-basis:80%;
		align-self: center;
		margin: 3rem auto;
	}

	.cart-checkout-row{
		flex-basis:50%;
		margin: auto auto;
	}

	.cart-listing-place{
		flex-basis:100%;
		/*margin-right: 0 5rem;*/
	}
}

/****JESSIE****/
/*Contact Page: Hero Banner*/

#contact_image{
	width:100%;
	position: relative;
}

/*Contact Page: Stores*/

#contact-info, #contact-input{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.location{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	padding: 1rem;
	width: 23rem;
	padding: 0px;
}

.location h5{
	line-height: 2rem;
	margin:0;
	padding:0;
}

.location ul{
	list-style-type: none;
	padding: 0;
}

.contact-stores-info, .contact-stores-title, .contact-feedback{
	flex-basis: 50%;
}


.contact-stores-title h1, .contact-feedback h1{
	text-align: center;
}

/* Css for the form in contacts */
.contact-form{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	padding: 1rem;
	width: 23rem;
	padding: 0px;
}

.contact-form label {
	font-family: "BrandonGrotesque-Light";
	margin: 0.5rem 1rem 0.5rem 0;
	font-size: 0.65rem;
}

.contact-form input{
	font-family: "BrandonGrotesque-Light";
	font-size: 0.8rem;
	padding: 0.4rem 5rem 0.4rem 1rem;
	background-color: #fff;
	border: 0.1rem solid #bfa87b;
}

/* Css for the button in contacts */

.button-submit{
	display: inline-block;
	background-color: #bfa077;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 0.4rem 5rem;
	margin-top: 1rem;
}

.button-submit:hover{
	color:white;
	background-color:#99835d;
}

.button-submit:active {
	background-color: #99835d;

}

/*About Page*/

.about-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 3rem;

}

.about-description, .about-title{
	flex-basis: 50%;
}

.about-description{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	padding: 1rem;
	width: 23rem;
	padding: 0px;
}

.about-description p{
	padding-bottom: 1.5rem;
}

.about-title h1{
	text-align: center;
}

.about-description img{
	width: 100%;
}

/*Citation Page*/

.citation{
	margin: 2rem;
}

/*Phone Size*/
@media(max-width: 767px){
	#category div{
		width:100%;
	}

	#category img{
		width: 100%;
	}

	.pdp-user img{
		width: 25%;
	}

	.pdp-image{
		flex-basis: 100%;
		/*display: flex;*/
		justify-content: center;
	}

	.pdp-details {
		flex-basis: 100%;
		flex-wrap:wrap;
		padding: 0;
	}

	.contact-form, .about-info{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		align-content:center;
	}
}

@media(max-width: 832px){
	.plp-container{
		/*justify-content: center;*/
	}

	.plp-product{
		flex-basis:33%;
	}

	.plp-name h4{
		font-size: 0.6rem;
	}

	.plp-price h5{
		font-size: 0.7rem;
	}

	.pdp-user img{
		width: 20%;
	}
}

@media(max-width: 600px){

	.plp-product{
		flex-basis: 50%;
	}

	.pdp-user img{
		width: 35%;
	}

	.pdp-user{
		display: flex;
		/*flex-basis: 1;*/
		flex-grow: 0.8;
		/*flex-direction: column;*/

		margin-left:0;
		margin-right:0;
	}
}

@media(max-width: 414px){

	.cart-checkout-sum{
		flex-basis:100%;
		margin: 3rem auto;
	}

	.plp-product{
		flex-basis: 100%;
	}

	.cart-listing-place{
		justify-content:center;
	}

	#contact_image img, .about-description img{
		width: 100%;
	}

	.contact-form, .about-info{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		align-content:center;
	}

	.location, .about-description{
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.about-description p{
		line-height: 1.3rem;
		align-self: center;
	}
}


